@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;600;700&family=Poppins:wght@200&display=swap');

* {
padding: 0;
margin: 0;
}

body {
background-color: black;
}

header {
width: 100%;
height: 70px;
}

h1 {
color: white;
font-family: 'Barlow Semi Condensed', sans-serif;
text-transform: uppercase;
letter-spacing: -1px;
}

.navbar {
background-color: rgb(9, 6, 1);
height: 70px;
display: flex;
position: fixed;
opacity: 0.7;
width: 100%;
}

ul {
width: 100%;
}

li {
padding: 15px 30px;
}

a {
text-align: center;
color: #ffffff;
text-decoration: none;
font-family: 'Barlow Semi Condensed', sans-serif;
font-size: 15px;

}

a:hover {
color: rgb(191, 146, 91);

}

.banner {
background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url("/images/Background_nathon-oski-EW_rqoSdDes-unsplash.jpg");
background-position: center;
height: 100vh;
flex-direction: column;
justify-content: center;
align-content: center;
width: 100%;
display: flex;
object-fit:fill;
margin-left: 0;
}

.banner-text h2 {
color: rgb(191, 146, 91);
font-family: 'Barlow Semi Condensed', sans-serif;
text-transform: uppercase;
font-size: 20px;
margin-left: 20px;
}

.banner-text h3 {
color: white;
font-family: 'Barlow Semi Condensed', sans-serif;
text-transform: uppercase;
font-size: 45px;
margin-left: 20px;
}

.banner-text p {
color: white;
font-family: 'Poppins', sans-serif;
text-transform: none;
font-size: 15px;
line-height: 25px;
margin-left: 20px;
}

button {
border: rgb(191, 146, 91);
background-color: transparent;
color: rgb(191, 146, 91);
font-size: 16px;
font-weight: bold;
font-family: 'Barlow Semi Condensed', sans-serif;
border: solid 2px;
margin-left: 20px;
margin-top: 20px;
width: 230px;
height: 50px;
text-transform: uppercase;
letter-spacing: 1.3px;
}

.golden-bg {
background-color: rgb(191, 146, 91);
height: 330px;
/* position: absolute; */
width: 100%;

}

.lightgolden-bg {
background-color: rgb(196, 140, 72);
opacity: 0.9;
height: 330px;
width: 100%;
}

.golden-bg1 {
background-color: rgb(191, 146, 91);
height: 330px;
width: 100%;
}

.services {
color: blue;
text-align: center;
width: 100%;
}

.card:nth-child(even) {
background-color: rgb(191, 146, 91);
}

.card:nth-child(odd) {
background-color: rgb(222, 181, 132)
}

.card {
display: grid;
text-align: center;
place-items: center;
height: 50vh;
width: 100vw;
}

.card img {
border-radius: 100%;
width: 8rem;
height: 8rem;
object-fit:cover;
margin-top: -7.5rem;
}

.card p {
font-family: 'Poppins', sans-serif;
color: white;
margin-top: -50%;
font-size: 0.7rem;
padding: 5% 10%;
margin-top: -11rem;
}

.card h2 {
font-family: 'Barlow Semi Condensed', sans-serif;
color: #ffffff;
margin-bottom: 20px;
text-transform: uppercase;
font-weight: normal;
letter-spacing: -1.3px;
margin-top: -7rem;
}

.container {
width: 100%;
background-color: #ffffff;
display: grid;
}

.container img {
display: grid;
margin-top: 20px;
width: 100%;
}

.container h2{
color: rgb(196, 140, 72);
font-family: 'Barlow Semi Condensed', sans-serif;
text-transform: uppercase;
font-size: 14px;
padding: 2% 5% 2% 5%;
margin-top: 20px;
}

.container h3 {
color: #000000;
font-family: 'Barlow Semi Condensed', sans-serif;
text-transform: uppercase;
padding: 2% 5% 2% 5%;
font-size: 17px;
}

.container p {
font-family: 'Poppins', sans-serif;
font-size: 0.7rem;
padding: 2% 5% 2% 5%;

}

.kalender {
background-color: rgb(191, 146, 91);
width: 45%;
margin: 5%;
display: flex;
justify-content: center;
align-items: center;
}

.kalender img {
width: 30%;
height: 30%;
margin-top: 0;
}

.kalender p {
color: white;
font-family: 'Barlow Semi Condensed', sans-serif;
font-variant-caps: all-small-caps;
font-weight: bold;
font-size: 1rem;
margin-left: 10px;
}

.testimonials {
background-color: rgb(235, 232, 222);
display: grid;
place-content: center;
padding: 40px 0;
text-align: center;
}

.inner {
max-width: 100%;
margin: auto;
overflow: hidden;
padding: 0 20px;
}

.border {
width: 160px;
height: 5px;
margin: 26px auto;
}

.row {
justify-content: center;
display: flex;
flex-wrap: wrap;
}

.col {
padding: 10px;
}

.name {
color: rgb(1, 1, 0);
font-family: 'Barlow Semi Condensed', sans-serif;
text-transform: none;
font-size: 18px;
font-weight: bold;
}

.testimonials p {
font-family: 'Poppins', sans-serif;
font-size: 0.7rem;
padding: 2% 5% 2% 5%;
}

.occupation {
color: rgb(196, 140, 72);
font-family: 'Barlow Semi Condensed', sans-serif;
text-transform: uppercase;
font-size: 14px;
}

.stars {
color: rgb(196, 140, 72);
}

.testimonial {
background-color: #ffffff;
padding: 30px;
border-radius: 0.5em;
display: flex;

}

.testimonial img {
height: 100px;
width: 100px;
border-radius: 100%;
object-fit: cover;
}

.text {
display: flex;
}


.recensioner h2 {
color: rgb(191, 146, 91);
text-transform: uppercase;
font-family: 'Barlow Semi Condensed', sans-serif;
text-align: center;
margin-bottom: 10px;
}
   
.recensioner h3 {
color: rgb(20, 20, 19);
text-transform: uppercase;
font-family: 'Barlow Semi Condensed', sans-serif;
text-align: center;
font-size: 2rem;
}
       


* {
margin: 0;
padding: 0;
}